.red{
    background:#FF0000;
    color:#fff;
}
.green{
    background:#00CD00;
    color:#fff;
}
#add{
    padding:20px 200px;
}
.input-group{
    margin:20px 0;
}
.color{
    width:200px;
}
.addcolor{
    width:40px;
    height:40px;
    border-radius:5px;
    border:1px solid #ccc;
    margin-top:17px;
    margin-left:20px;
}
.colorList{
    width:100%;
    span{
        width:40px;
        height:40px;
        padding:10px;
        border:1px solid #ccc;
        border-radius:5px;
        margin-left:10px;
        cursor:pointer;
        position:relative;
        
        i{
            width:15px;
            height:15px;
            background:red;
            color:#fff;
            border-radius:10px;
            position:absolute;
            right:-8px;
            top:-10px;
            text-align:center;
            line-height:15px;
            display:none;
        }
    }
    :hover{
            background:#999;
            i{
                display:block;
            }
        }
}
.btns{
    margin:10px 180px;
    .btn{
        width:100px;
        height:50px;
        margin:0 10px;
    }
}
.size{
    margin-left:20px;
    input{
        text-align:center;
        width:70px;
        border:1px solid #ccc;
    }
}