#bookDetail{
    position: absolute;background: #fff;top: 0;right: 0;bottom: 0;left: 0;font-size:0.533333rem;display:flex;flex-direction:column;
    .header{
        height: 1.2rem;border-bottom:1px solid #333;display:flex;
        i{width: 1.333333rem;text-align: center;line-height: 1.2rem;color:#0cf;font-weight: normal;}
        h4{flex:1;text-align: center;line-height: 1.2rem;font-weight: normal;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;font-size:0.48rem;}
    }
}