.bc58{
    background:#58bc58;
    color:#fff;
}
.red{
    background:#CD0000;
    color:#fff;
}
.table{
    table-layout:fixed;  
    width:100%;
    
}
#table{
    tbody{
        .color999{
            background:#999;
            cursor:pointer;
            color:#fff;
        }
        tr{
            cursor:pointer;
        }
    }
}
.table td{
    white-space: nowrap;text-overflow: ellipsis;overflow: hidden;  
}
.go{
    height:80px;
    padding-top:25px;
    padding-left:25px;
}
#into{
    border:1px solid #ccc;
    width:50px;
}
#goto{
    background:#ccc;
}
.del,.det{
    border-radius:5px;
    font-size:12px;
    width:50px;
    height:30px;

}