#main .product{
    margin-top:0.266667rem;
    background: #FFF;
}
#main .product img{
    width:10.666667rem;
}
#main .product-1 {
    border-bottom:1px solid #ccc;
}
#main .product-1 .desc{
    padding-top:0.373333rem;
    padding-left:0.533333rem;
    color:#2F262B;
    font-size:0.266667rem;
}
#main .product-1 .name{
    margin-top:0.213333rem;
    font-size:0.213333rem;
    color:#B9BBBA;
    padding-left:0.533333rem;
}
#main .product-1 .price{
    padding-left:0.426667rem;
    font-size:0.213333rem;
    margin-top:0.213333rem;
    color:#f60;
    margin-bottom:0.266667rem;
}