#sourceDetail{
    position: absolute;background: #fff;top: 0;right: 0;bottom: 0;left: 0;font-size:0.533333rem;display:flex;flex-direction:column;
    .header{
        height: 1.2rem;border-bottom:1px solid #333;display:flex;
        i{width: 1.333333rem;text-align: center;line-height: 1.2rem;color:#0cf;font-weight: normal;}
        h4{flex:1;text-align: center;line-height: 1.2rem;font-weight: normal;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;font-size:0.48rem;}
    }
    .DetailMian{
        flex:1;overflow: auto;padding: 0.266667rem;
        &>h2{font-size:0.5rem;text-align: center;margin-bottom: 0.133333rem;}
        &>p{
            display:flex;justify-content:space-around;margin-bottom: 0.133333rem;
            &>span{font-size:0.373333rem;color:#999;}
        }
        div.article{
            font-size:0.36rem;line-height: 0.733333rem;
            p{line-height: 0.666667rem;font-size:0.3rem;text-indent:2em;margin-bottom: 0.16rem;}
            img{margin: 0.266667rem auto;}
            strong{text-indent:0;}
        }
    }
}