.s_h{
    text-indent:2em;
    font-size:12px;
}
#dor{
    font-size:12px;
    width:199px;
    height:44px;
    text-indent:4em;
    line-height:44px;
}
.list-group-item{
    opacity:0.5;
    a{
        color:#000;
    }
}
