#base{
    position:fixed;
    height:100%;
    width:100%;
    background:rgba(0, 0, 0, 0.7);
    top:0;
    left:0;
    #mask{
        position:absolute;
        width:400px;
        height:500px;
        background:#fff;
        border-radius:20px;
        h2{
            width:40px;
            height:40px;
            border:1px solid #ccc;
            border-radius:20px;
            text-align:center;
            line-height:30px;
            float:right;
            margin:5px 10px;
            cursor:pointer;
            &:hover{
                color:#fff;
                background:#EE2C2C;
            }
        }
        #datalist{
            .ccc{
                background:#A2B5CD;
            }
        }
    }
}

#ins{
    width:100px;
    height:40px;
    margin-left:50px;
    background:#90EE90;
}
#datalist{
    overflow-x:hidden;
    border:1px solid #ccc;
    margin-top:50px;
    height:400px;
    ul{
        width:100%;

        img{
            width:150px;
            margin-left:-15px;
        }
        li{
            padding-top:10px;
            position:relative;
            padding-left:40px;
            .del{
                position:absolute;
                right:50px;
                top:50px;
                width:100px;
                height:40px;
                &:hover{
                    background:red;
                    color:#fff;
                }
            }
            &:hover{
                background:#ccc;
                cursor:pointer;
            }
        }
    }
}
.pri{
    color:red;
    font-size:16px;
    margin:10px 10px;
    float:left;
}
#check{
    border:1px solid #999;
    zoom:200%;
    position:absolute;
    right:50px;
    top:80px;
}
#allcheck{
    zoom:200%;
}
.all{
    position:absolute;
    bottom:10px;
    right:110px;
}
#tdel{
    float:right;
    margin:10px 30px;
}