#inputmsg{
    background-color:#fff;
    position:relative;
    margin-bottom:0.8rem;
    .username{
        display:flex;
        flex-direction:row;
        
        .blank{
            width:10%;
            height:1.28rem;
        }
        .content{
            width:90%;
            padding:0.346667rem 0.533333rem 0.346667rem 0;
            border-bottom:1px solid #EEEEEE;
            input{
                font-size:0.453333rem;
                height:0.453333rem;
                border:0 none;
            }
        }
    }
    .password{
        display:flex;
        flex-direction:row;
        
        .blank{
            width:10%;
            height:1.28rem;
        }
        .content{
            width:90%;
            padding:0.346667rem 0.533333rem 0.346667rem 0;
            input{
                font-size:0.453333rem;
                height:0.453333rem;
                border:0 none;
            }
        }
    }
    .findpassword{
        color:#B1BBD6;
        font-size:0.373333rem;
        position:absolute;
        
        right:0.266667rem;
    }
}