#pop{
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
    background:rgba(0, 0, 0, 0.7);
    #popmask{
        position:absolute;
        width:350px;
        height:200px;
        background:#fff;
        #goup{
            margin-left:120px;
            margin-top:20px;
        }
        h5{
            text-align:center;
        }
    }
}