html,body{height: 100%;}
.xiaotiane,.carsList{
    height: 100%;display:flex;flex-direction:column;font-size:0.4rem;
    .active{width: 0.43rem;height: 0.43rem;margin-left: 0.346667rem;border-radius:50%;background-color:#1B89C9;}

    .header{
        height: 1.2rem;text-align: center;line-height: 1.2rem;
        i{display:block;text-align:center;width: 1.173333rem;height: 1.333333rem;position:absolute;left: 0;top: 0;line-height: 1.333333rem;color:#0093D5;font-size:0.453333rem;}
    }

    .address{
        height: 1.146667rem;background:#F4F4F4;border-top:0.029333rem solid #EEEEEE;padding-right: 0.426667rem;padding-left: 0.373333rem;
        span{display:inline-block;color:#999999;line-height: 1.146667rem;font-size:0.32rem;}
        .pst{float:left;}
        .editAll{float:right;}
        .iconfont{font-size:0.533333rem;}
    }
    
    .main{
        flex:1;background-color:#F4F4F4;overflow-x:hidden;overflow-y:auto;
        .head{
            color:#333333;height: 1.2rem;background-color:#FFFFFF;display:flex;
            .selectAll{
                width: 0.933333rem;height: 1.2rem;line-height: 1.2rem;
                input{width: 0.4rem;height: 0.4rem;margin-left: 0.346667rem;}
                // div{width: 0.43rem;height: 0.43rem;margin-left: 0.346667rem;border:0.026667rem solid #DCDCDC;border-radius:50%;}
            }
            .iconfont{
                flex:1;font-size:0.4rem;height: 1.2rem;line-height: 1.2rem;color:#929292;
                span{margin-left: 0.266667rem;}
            }
            .edit{font-size:0.32rem;color:#999999;height: 1.2rem;line-height: 1.2rem;margin-left:4.4998rem;margin-right:0.4rem;}
        }
        .carlist{
            ul{
                li{
                    height: 3.36rem;background-color:#FFFFFF;display:flex;border-top:1px solid #E3E3E3;
                    .cir{
                        width:0.986667rem;height:3.36rem;padding-top: 1.413333rem;
                        input{width: 0.4rem;height: 0.4rem;margin-left: 0.346667rem;}
                        //div{width: 0.43rem;height: 0.43rem;margin-left: 0.346667rem;border:0.026667rem solid #DCDCDC;border-radius:50%;}
                        
                    }
                    .cont{
                        flex:1;display:flex;
                        >div:nth-child(1){
                            height:3.36rem;padding-top: 0.613333rem;
                            img{width: 2.133333rem;height: 2.133333rem;border:1px solid #F6F6F6;}
                        }
                        >div:nth-child(2){
                            flex:1;margin-left: 0.266667rem;margin-top: 0.32rem;padding-bottom: 0.64rem;
                            h3{line-height:0.453333rem;font-size:0.32rem;}
                            h4{height: 0.50rem;line-height: 0.50rem;font-size:0.32rem;font-size:0.31rem;color:#999999;font-weight:normal;}
                            // p{color:#999999;font-size:0.36rem;height:0.5rem;}
                            .qty{
                                height:0.75rem;width: 3.253333rem;margin-top:0.19rem;
                                .decrease,.increase{float:left;width:0.756667rem;font-weight:bold;border:0.053333rem solid #c8c8c8;text-align:center;color:#333}
                                p:nth-child(2){float:left;width:1.626667rem;height:0.64rem;border-top:0.0432rem solid #c8c8c8;border-bottom:0.053333rem solid #c8c8c8;text-align:center;color:#333;}
                            }

                        }
                    }
                    .par{
                        width: 2.62rem;height: 3.36rem;
                        p{color:#FF6600;font-size:0.4rem;height:1.066667rem;padding-top:0.533333rem;padding-left:0.16rem;}
                        span{margin-left:1.146667rem;color:#A5A5C2;font-size:0.29rem;}
                        button{width: 1.4rem;height:0.7rem;margin-top: 0.366667rem;margin-left: 0.266667rem;font-size:0.316667rem;}
                    }

                }
            }
        }
    }
    .foot{
        display:flex;height:1.306667rem;
        >div:nth-child(1){
            width:2.0rem;height:1.306667rem;line-height:1.306667rem;
            input{float:left;border:1px solid #D6D8DA;width: 0.4rem;height: 0.4rem;border-radius:50%;margin-left: 0.346667rem;margin-top: 0.48rem;margin-right: 0.293333rem;}
        }
        >div:nth-child(2){
            flex:1;text-align:right;padding-right: 0.426667rem;padding-top: 0.226667rem;font-size:0.346667rem;
            p:nth-child(1){
                font-size:0.346667rem;
                span{color:#FF9500;font-size:0.386667rem;font-weight:bold;}
            }
            p:nth-child(2){color:#999999;font-size:0.4rem;}
        }
        .account{width: 2.666667rem;background-color:#999999;color:#FFFFFF;line-height:1.306667rem;font-size:0.48rem;text-align:center;}
    }

    .zhezhao{position:fixed;background:#ccc;opacity:0.3;width: 100%;height: 100%;}
    .popover{
        position:absolute;left: 50%;top:40%;background-color:#fff;transform:translate(-50%,-50%);width: 6.3rem;height: 3.3rem;border:0.053333rem solid #ccc;text-align:center;padding-top:1.14rem;border-radius:0.400333rem 0.4rem;
        .btn-close{display:block;position:absolute;top: 0.133333rem;right: 0.113333rem;padding:0.053333rem 0.133333rem;color:#666;font-size:0.4413333rem;}
        .btn-close:hover{background-color:#f00;color:#fff;}
        div{font-size:0.48rem;color:#FF6600;}
    }
    .ac{background-color:#FF6600 !important;}


}