body,html{height:100%}
#personaldynamic{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    >header{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        height:1.306667rem;
        line-height:1.306667rem;
        background-color:#F9FAFE;
        font-size:0.426667rem;
        padding:0 0.266667rem;
        border-bottom:0.026667rem solid #7A828D;
        >.left{
            color:#D3D3D3;
            font-size:0.533333rem;
        }
        >.center{
            font-size:0.586667rem;
        }
        >.right{
            color:#D3D3D3;
            font-size:0.533333rem;
        }
    }
    >.main{
        flex:1;
        overflow-x:hidden;
        background-color:#777;
        
        >.self{
            padding:0 0.266667rem;
            height:3.373333rem;
            
            background-color:#3288C1;
            display:flex;
            flex-direction:row;
            justify-content:space-around;
            position:relative;
            >.left{
                
                position:absolute;
                top:0.8rem;
                left:1rem;
                >img{
                    width:2.0rem;
                    border-radius:50%;
                }
            }
            >.right{
                position:absolute;
                top:0.8rem;
                left:3.8rem;
               
                font-size:0.533333rem;
                color:#fff;
                line-height:0.8rem;
                >.name{
                    font-weight:600;
                }
                >.newmsg{
                    font-weight:0;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }
            }
        }
        >.nav{
            display:flex;

            >a{
                display:block;
                box-sizing:border-box;
                width:50%;
                font-size:0.42rem;
                text-align:center;
                height:0.8rem;
                line-height:0.8rem;
                background-color:#fff;
                border:1px solid #666;
            }
        }
        >.dynamic{
            >ul{
                width:100%;
                >li{
                    width:100%;
                    margin-top:0.266667rem;
                    >.header{
                        padding:0.266667rem 0.266667rem;
                        background-color:#FFF;
                        border-bottom:0.013333rem solid #666;
                        >div:nth-child(1){
                            float:left;
                            >img{
                                width:1.033333rem;
                                border-radius:50%;
                            }
                        }
                        >div:nth-child(2){
                            float:left;
                            font-size:0.42rem;
                            >.name{

                            }
                            >.time{

                            }
                        }
                    }
                    >.content{
                        width:100%;
                        background-color:#FFF;
                        font-size:0.366667rem;

                        >.imgcontent{
                            display:flex;
                             flex-wrap:wrap;
                            >img{
                                border-sizing:border-box;
                                border:0.013333rem solid #fff;
                                width:33.33%;
                            }
                        }
                    }
                    >.comments{
                        font-size:0.406667rem;
                        >.givealike{
                            background-color:#fff;
                            padding:0.266667rem 0.266667rem;
                            text-align:right;
                            >i{

                            }
                            
                        }
                        >.discuss{
                            background-color:#fff;
                            >ul{
                                padding:0 0.266667rem;
                                >li{
                                    >.spokesman{
                                        color:blue;
                                    }
                                }
                            }
                        }
                    }
                    >.speakbox{
                        width:100%;
                        background-color:#fff;
                        padding:0.133333rem;
                        >.speak{
                            float:left;
                            width:8.0rem;
                            // height:0.533333rem;
                            background-color:#eee;
                            border-radius:0.066667rem;
                            font-size:0.356667rem;
                            // overflow-x:hidden;
                        }
                        >button{
                            float:left;
                            width:0.966667rem;
                            height:0.533333rem;
                        }
                    }
                    
                }
            }
        }
    }
    
    
}